html {
  background: purple;
}

body {
  background: white;
  width: 500px;
  margin: 0 auto;
  padding: 20px 50px;
}

#div-container {
  border: 2px solid green;
  background: lightgreen;
  text-align: center;
}

#span1 {
  text-decoration: underline;
  color: blue;
}

#span-section {
  margin-top: 25px;
  border: 1px solid blue;
  background: lightblue;
  text-align: center;
}

#group {
  border: solid 1px black;
  border-radius: 5px;
}
/* 1. Group together the Span section in a div. Give it a blue border and lightblue background. Center the text. */
/* 2. Target the words in the Div section: "group elements together". Give them a 1px solid black border with a 5px border radius. */
/* 3, Use margin-top or magin-bottom on an appropriate div to create space between the divs.  */

#input-container {
  border: 2px solid red;
  background: pink;
  margin-top: 20px;
  text-align: center;
}

input {
  width: 150px;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  background: white;
  transition: background 1s;
}

input:hover {
  background: black;
  color: white;

  transition: background 1s;
}

button {
  transition: background 1s;
}

button:hover {
  background: blue;
  color: white;
}

/* Add a hover effect to the button */
/* Add a transition effect to the button */
